[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
rauth = "*"
flask-login = "*"
flask-mail = "*"
pymysql = "*"
cryptography = "*"

[requires]
python_version = "3.7"
